#hero-container {
  height: 80vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding-left: 5vh;
  padding-right: 5vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-left: 1px solid $accent;
  border-right: 1px solid $accent;
  #hero-left {
    width: fit-content;
    padding-right: 1em;
    .hero-heading {
      font-size: 4em;
      padding-bottom: 0.1em;
      white-space: nowrap;
    }
    p {
      width: 100%;
    }
  }
  #hero-right {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: end;
    gap: 5vh;
    a {
      width: 60%;
    }
    @media only screen and (max-width: 1050px) {
      a {
        width: 80%;
      }
    }
  }
  @media only screen and (max-width: 995px) {
    flex-flow: column;
    gap: 10vh;
    #hero-left {
      .hero-heading {
        text-align: center;
        white-space: wrap;
      }
      p {
        text-align: center;
      }
    }
    #hero-right {
      align-items: center;
      flex-grow: unset;
      width: 100%;
      gap: 1vh;
      a {
        width: 60%;
      }
    }
  }
  @media only screen and (max-width: 525px) {
    .hero-heading {
      font-size: 3.5em;
    }
  }
}