<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joseph Kopecky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

<div id="header" th:fragment="header">
    <div id="header-left">
        <a id="header-name-link" href="/"><h1 id="header-name">JK</h1></a>
    </div>
    <div id="header-right">
        <a class="header-link" href="/projects">Projects</a>
        <a class="header-link" href="/#about">About Me</a>
        <a class="header-link" href="/#contact"><strong>Contact</strong></a>
    </div>
</div>

</body>
</html>