<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joseph Kopecky</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/metadata/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/metadata/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/metadata/favicon-16x16.png">
    <link rel="manifest" href="/metadata/site.webmanifest">
</head>
<body>

<div id="header" th:fragment="header">
    <div id="header-left">
        <a id="header-name-link" href="/"><h1 id="header-name">JK</h1></a>
    </div>
    <div id="header-right">
        <a class="header-link" href="/projects">Projects</a>
        <a class="header-link" href="/#about">About Me</a>
        <a class="header-link" href="/#contact"><strong>Contact</strong></a>
    </div>
</div>

</body>
</html>