<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joseph Kopecky</title>
    <!--<link rel="icon" type="image/x-icon" href="/images/logo.png">-->
    <meta name="theme-color" content="#000000"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/core.css">
    <script src="https://kit.fontawesome.com/2b6129ab2e.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/@barba/core" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.bubble.css" rel="stylesheet" />
</head>

<body data-barba="wrapper">


<div id="header">
    <div id="header-left">
        <a id="header-name-link" href="/"><h1 id="header-name">JK</h1></a>
    </div>
    <div id="header-right">
        <a class="header-link" href="/projects">Projects</a>
        <a class="header-link" href="/blog">Blog</a>
        <a class="header-link" href="/contact"><strong>Contact</strong></a>
    </div>
</div>


<div data-barba="container" data-barba-namespace="page" class="page-content" style="position:absolute;">


    <div id="home-page">


        <div id="hero">
            <div id="hero-details">
                <h1 id="hero-name">I'm <accenttext>Joseph Kopecky!</accenttext></h1>
                <h6 id="hero-desc">My Goal Is To Become a Web Developer.</h6>
            </div>
            <div id="hero-headshot">
                <img id="hero-image" alt="headshot image" src="/images/selfPhotoCapitol_min.JPG">
            </div>
        </div>


        <div id="about">
            <h1 id="about-header">//About</h1>
            <div id="about-content">
                <div id="about-left">
                    <h3>My Story</h3>
                    <p>
                        <br>
                        I'd say my career started the last week of junior high. At that point, all of my classes had effectively finished, and playing whatever computer game the school's firewall failed to block was simply insufficient to stave off boredom for eight hours a day.
                        <br><br>
                        The solution? Well, that <a class="hoveranim" href="https://code.org/minecraft">Code.org Minecraft game</a> we played in computer class once was fun enough. It drained perhaps an hour, but then I started exploring the website for other things to do. I found their feature for lessons — I specifically remember trying to create an ellipse, and immediately I was hooked when I saw it render on the screen.
                        <br><br>
                        For a few months, my favored solution to boredom was diving through online resources and textbooks. I probably alternated between trying to learn three different programming languages, before eventually I came to a realization: if I seriously wanted to learn, this strategy would not suffice. I needed to actually <em>make</em> something.
                        <br><br>
                        Just as initially, I resorted to Minecraft. More specifically, I set my sights on creating a mod for the game using Java. For a first project it was perhaps too ambitious — in fact I transitioned to other projects before ever finishing, focusing primarily on things I could do with Java before recently branching out to other areas. Still, this was how I found my answer for that standard get-to-know-each-other question that would always be asked:
                        <br><br>
                        "What do you want to do when you grow up?"
                        <br><br>
                        "Software Developer."
                        <br><br>
                        With the breadth of options in that two-word job title, it took a long time for me to settle on a specialization. The ultimate deciding factor was experience building websites for various school projects: seeing precisely what a <strong>web developer</strong> would do on a day-to-day basis was vital for allowing me to see myself in that role. Except this presented another question: how do I get from point A to point B? The solution I identified was two-pronged: get a degree in computer science, build a strong portfolio.
                        <br><br>
                        Welcome to the latter.
                    </p>
                </div>
                <div id="about-right">
                    <h3>My Interests & Hobbies</h3>
                    <ul>
                        <li><p>
                            <strong>Programming:</strong> It's a cliché, I know. Regardless, it seems as though I always have some project (or five!) in the works, like an ever-turning wheel of ideas that I slowly chip away at until they either cross the finish line or fail, teaching me something new along the way.
                        </p></li>
                        <li><p>
                            <strong>Minecraft:</strong> Just because that first mod idea never got off the launchpad does not mean I gave up! While I don't play the game all that often anymore, I certainly spend a lot of time building mods for it. I particularly enjoyed designing an RPG system (that I already plan to iterate on), and I am currently modeling and texturing a set of new foes to add as well.
                        </p></li>
                        <li><p>
                            <strong>Writing:</strong> My fingers still don't get a break because any time I spend not coding is dedicated to writing my next chapter. At the moment, I'm over two full-length novels into my rewrite of the Harry Potter series. I like to think that my specialty is writing fight scenes; magic has so much potential!
                        </p></li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- todo: certifications and what not (?) -->

        <div id="projects">
            <h1 id="projects-header">//Projects</h1>
            <div id="projects-content">
                <div class="project-tile" th:each="project:${projects}">
                    <div class="project-image-container">
                        <img class="project-image" th:alt="${project.getDisplayName()}" th:src="${project.getImageUrl()}">
                    </div>
                    <h3 th:text="${project.getDisplayName()}"></h3>
                    <p th:text="${project.getShortDesc()}"></p>
                    <a class="hoveranim" th:href="${project.getProjectUrl()}">Learn More</a>
                </div>
            </div>
            <a href="/projects"><button>More</button></a>
        </div>
        <div id="contact">
            <h1 id="contact-header">//Contact Me</h1>
            <div id="contact-align-container">
                <div id="contact-align-left">
                    <p>You can get in touch with me through this form, or my email address!</p>
                    <a href="mailto:josephkopecky@jkopecky.dev"><strong>josephkopecky@jkopecky.dev</strong></a>
                </div>
                <form id="contact-form" onsubmit="return false;">
                    <label for="contact-name">Name</label>
                    <input id="contact-name" type="text">
                    <label for="contact-email">Email</label>
                    <input id="contact-email" type="email">
                    <label for="contact-message">Message</label>
                    <input id="contact-message" type="text">
                    <button id="contact-button">Send</button>
                </form>
            </div>
        </div>
    </div>


    <footer>
        <em id="footer-message">Made from scratch by Joseph Kopecky</em>
        <div id="footer-links">
            <a class="hoveranim" href="/styleguide">Style Guide</a>
        </div>
    </footer>

</div>


</body>

<script src="/js/barba_anims.js"></script>
<script src="/js/home.js"></script>
<script src="/js/editproject.js"></script>

</html>