<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joseph Kopecky</title>
    <!--<link rel="icon" type="image/x-icon" href="/images/logo.png">-->
    <meta name="theme-color" content="#000000"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/home.css">

    <script data-swup-reload-script src="https://kit.fontawesome.com/2b6129ab2e.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.bubble.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">

    <script data-swup-reload-script src="/js/home.js"></script>

    <script src="https://unpkg.com/swup@4"></script>
    <script src="https://unpkg.com/@swup/head-plugin@2"></script>
    <script src="https://unpkg.com/@swup/scripts-plugin@2"></script>
</head>
<body>


<div id="header">
    <div id="header-left">
        <a id="header-name-link" href="/"><h1 id="header-name">JK</h1></a>
    </div>
    <div id="header-right">
        <a class="header-link" href="/projects">Projects</a>
        <!--TODO implmenent <a class="header-link" href="/blog">Blog</a>-->
        <a class="header-link" href="/#contact"><strong>Contact</strong></a>
    </div>
</div>



<main id="swup" class="page-content transition-fade">
    <div id="home-page">
        <div id="hero">
            <div id="hero-details">
                <h1 id="hero-name">I'm <accenttext>Joseph Kopecky!</accenttext></h1>
                <h6 id="hero-desc">My Goal Is To Become a Web Developer.</h6>
            </div>
            <div id="hero-headshot">
                <img id="hero-image" alt="headshot image" src="/images/selfPhotoCapitol_min.JPG">
            </div>
        </div>

        <div id="about">
            <h1 id="about-header">//About</h1>
            <div id="about-content">
                <div id="about-left">
                    <h3>My Story</h3>
                    <p id="about-body-content">
                        I'd say my career started the last week of junior high. At that point, all of my classes had basically finished, and playing whatever browser-based game the school's firewall didn't block had grown old.
                        <br><br>
                        The solution? Well, that <a class="hoveranim" href="https://code.org/minecraft" target="_blank">Code.org Minecraft game</a> we played in computer class once was fun enough. It drained about an hour, but then I started exploring the website for other things to do. Eventually, I found their feature for lessons, and I specifically remember trying to create an ellipse; when I saw it render on the screen, I was hooked.
                        <br><br>
                        For a few months, I would spend hours tearing through online resources and textbooks. I probably alternated between trying to learn three different programming languages, before eventually I came to a realization: if I seriously wanted to learn, I needed to actually <em>make</em> something.
                        <br><br>
                        Just as before, I resorted to Minecraft, setting my sights on creating a mod for the game using Java. For a first project, it was too ambitious: I transitioned to other projects before ever finishing. Still, this was how I found my answer to that standard small talk question people always seemed to ask:
                        <br><br>
                        "What do you want to do when you grow up?"
                        <br><br>
                        "I want to be a software developer."
                        <br><br>
                        Since then, I've come a long way. After all, now I can actually finish my projects without infinitely increasing their scope (most of the time)! I've also branched out from Minecraft mods, focusing more on building apps on a variety of platforms, be they websites, phones, or calculators.
                        <br><br>
                        This has been done with one thought in particular residing in the back of my head: to start that career, I'd need to convince someone to hire me. To achieve this, I decided to focus on two key areas. Earning a degree in computer science was a must, which meant I needed to excel in school to secure the financial support necessary to pay for it. Still, I knew it would also be important that I build a portfolio to demonstrate what I've built and what I've learned.
                        <br><br>
                        Given that you're reading this, it seems I <em>did</em> stop redesigning that portfolio eventually.
                    </p>
                </div>
                <div id="about-right">
                    <h3>My Interests & Hobbies</h3>
                    <ul>
                        <li><p>
                            <strong>Programming:</strong> It's a cliché, I know. Regardless, it seems as though I always have some project (or five!) in the works, like an ever-turning wheel of ideas that I slowly chip away at until they either cross the finish line or fail, teaching me something new along the way.
                        </p></li>
                        <li><p>
                            <strong>Minecraft:</strong> Just because that first mod idea never got off the launchpad does not mean I gave up! While I don't play the game all that often anymore, I certainly spend a lot of time building mods for it. I particularly enjoyed designing an RPG system (that I already plan to iterate on), and I am currently modeling and texturing a set of new foes to add as well.
                        </p></li>
                        <li><p>
                            <strong>Writing:</strong> My fingers still don't get a break because any time I spend not coding is dedicated to planning and writing my next chapter. By the time you're reading this, I will be writing my first entry into a trilogy. As my first non-derivative writing project, it is likely to come out with plenty of warts, but I'm excited to work on it nonetheless!
                        </p></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- todo: certifications and what not (?) -->

        <div id="projects">
            <h1 id="projects-header">//Projects</h1>
            <div id="projects-content">
                <div class="project-tile" th:each="project:${projects}">
                    <div class="project-image-container">
                        <img class="project-image" th:alt="${project.getDisplayName()}" th:src="${project.getImageUrl()}">
                    </div>
                    <h3 th:text="${project.getDisplayName()}"></h3>
                    <p th:text="${project.getShortDesc()}"></p>
                    <a class="hoveranim" th:href="${project.getProjectUrl()}">Learn More</a>
                </div>
            </div>
            <a href="/projects"><button>More</button></a>
        </div>
        <div id="contact">
            <h1 id="contact-header">//Get In Touch</h1>
            <div id="contact-align-container">
                <div id="contact-align-left">
                    <p>If you need to contact me directly</p>
                    <div>
                        <a class="hoveranim" href="mailto:joseph.m.kopecky@gmail.com" target="_blank">joseph.m.kopecky@gmail.com</a>
                        <a class="hoveranim" href="tel:+19364028544" target="_blank">+1 (936) 402-8544</a>
                    </div>
                </div>

                <div id="contact-align-right">
                    <p>Other places you can find me</p>
                    <div>
                        <a class="hoveranim" href="https://www.linkedin.com/in/joseph-kopecky-103ba1313" target="_blank">LinkedIn</a>
                        <a class="hoveranim" href="https://github.com/JmKopecky" target="_blank">Github</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>



<footer>
    <em id="footer-message">Made from scratch by Joseph Kopecky</em>
    <div id="footer-links">
        <a href="/styleguide">Style Guide</a>
        <a href="/admin/signon">Admin Panel</a>
    </div>

    <script>
        const swup = new Swup({
            plugins: [new SwupHeadPlugin(), new SwupScriptsPlugin({
                optin: true
            })]
        });
    </script>
</footer>


</body>
</html>