<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joseph Kopecky</title>
    <!--<link rel="icon" type="image/x-icon" href="/images/logo.ico">-->
    <meta name="theme-color" content="#000010" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/home.css">
    <script src="https://kit.fontawesome.com/2b6129ab2e.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.13/dist/lenis.css">
    <script src="/js/lenis.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>-->
</head>
<body>


<div id="header-container">

</div>


<div id="hero-container">
    <div id="hero-left">
        <h1 class="hero-heading">I'm <strong>Joseph Kopecky</strong></h1>
        <p>As an Aspiring Software Engineer, the Computer is My Domain.</p>
    </div>
    <div id="hero-right">
        <a><button>Contact Me</button></a>
        <a><button>Download Resume</button></a>
    </div>
</div>


<div id="about-and-skills-container">
    <div id="about-right">
        <h1>//Hello World!</h1>
    </div>
    <div id="about-left">

    </div>
</div>


<div id="projects-container">
    <h1>//Builds</h1>
</div>


<div id="awards-container">
    <h1>//Awards</h1>
</div>


<div id="contact-container">
    <h1>//Get In Touch</h1>
    <!--I'm looking for a summer job, and maybe something more long term during college.-->
</div>


<div id="footer-container">
    <p>Made from scratch by Joseph Kopecky</p>
</div>


</body>
</html>