@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
}

li::marker {
  color: #4A9FD3;
}

label {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #F7F4F3;
}

p {
  font-family: Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #F7F4F3;
}

accenttext {
  color: #4A9FD3;
}

a {
  font-family: Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  color: #F7F4F3;
  text-decoration: none;
}

a.hoveranim {
  position: relative;
  text-decoration: underline;
  text-decoration-color: #4A9FD3;
  text-underline-offset: 2px;
}

a.hoveranim::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #4A9FD3;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: width 0.5s ease-in-out;
}

a.hoveranim:hover::after {
  width: 100%;
}

strong {
  font-family: Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  color: #F7F4F3;
}

em {
  font-family: Verdana, sans-serif;
  font-optical-sizing: auto;
  color: #F7F4F3;
}

input {
  font-family: Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #F7F4F3;
  background: transparent;
  border: 1px solid #F7F4F3;
  border-radius: 1em;
  padding: 0.5em;
}

textarea {
  font-family: Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #F7F4F3;
  background: transparent;
  border: 1px solid #F7F4F3;
  border-radius: 1em;
  padding: 0.5em;
}

h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  color: #F7F4F3;
}

h2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-size: 2.5em;
  color: #F7F4F3;
}

h3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-size: 2em;
  color: #F7F4F3;
}

h4 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.75em;
  color: #F7F4F3;
}

h5 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 1.5em;
  color: #F7F4F3;
}

h6 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25em;
  color: #F7F4F3;
}

button {
  border: 1px solid #4A9FD3 !important;
  background: transparent;
  border-radius: 1em;
  padding: 0.5em 1em;
  color: #4A9FD3;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25em;
  transition: background 0.5s, color 0.5s;
}

button:hover, button:focus, button:active {
  background: #4A9FD3;
  color: #0A0A0B;
}

body {
  background: #0A0A0B;
}

.page-content {
  min-height: 100vh;
  width: 100%;
}

::-moz-selection {
  color: #0A0A0B;
  background: #F7F4F3;
}

::selection {
  color: #0A0A0B;
  background: #F7F4F3;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #F7F4F3;
  border-radius: 0.15em;
}

::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1vh;
  z-index: 999;
}
#header #header-right {
  display: flex;
  gap: 1em;
}
#header .header-link {
  transition: color 0.5s ease-in-out;
}
#header .header-link * {
  transition: color 0.5s ease-in-out;
}
#header .header-link:hover {
  color: #4A9FD3 !important;
}
#header .header-link:hover * {
  color: #4A9FD3 !important;
}

footer {
  display: flex;
  flex-flow: row;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}
footer #footer-message {
  width: 50%;
}
footer #footer-links {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#home-page {
  padding-top: 15vh;
}
#home-page #hero {
  height: 50vh;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
}
#home-page #hero #hero-details {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  gap: 1vh;
}
#home-page #hero #hero-details #hero-name {
  font-size: 5em;
}
@media (width <= 1300px) {
  #home-page #hero #hero-details #hero-name {
    font-size: 4.5em;
  }
}
#home-page #hero #hero-headshot {
  aspect-ratio: 1/1;
  max-width: 40vh;
  max-height: 40vh;
}
@media (width <= 1275px) {
  #home-page #hero #hero-headshot {
    max-width: 35vh;
    max-height: 35vh;
  }
}
#home-page #hero #hero-headshot #hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30%;
}
#home-page #about {
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  display: flex;
  flex-flow: row;
  align-items: start;
  min-height: 50vh;
  padding-top: 20vh;
}
#home-page #about #about-header {
  flex: 1;
  position: sticky;
  top: 45vh;
}
#home-page #about #about-content {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  gap: 10vw;
}
#home-page #about #about-content #about-left, #home-page #about #about-content #about-right {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#home-page #projects {
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 50vh;
  padding-top: 20vh;
}
#home-page #projects #projects-content {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 8vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
#home-page #projects #projects-content .project-tile {
  width: 40%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1vh;
}
#home-page #projects #projects-content .project-tile .project-image-container {
  width: 100%;
  aspect-ratio: 16/9;
  height: fit-content;
  object-fit: cover;
}
#home-page #projects #projects-content .project-tile .project-image-container .project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}
#home-page #contact {
  width: 70%;
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 50vh;
  padding: 20vh 15% 10vh;
}
#home-page #contact #contact-align-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: 5vw;
  padding-top: 10vh;
}
#home-page #contact #contact-align-container #contact-align-left {
  display: flex;
  flex-flow: column;
  flex: 1;
  gap: 3vh;
}
#home-page #contact #contact-align-container #contact-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  flex: 1;
  gap: 0.5vh;
}
#home-page #contact #contact-align-container #contact-form #contact-button {
  margin-top: 1em;
}
#home-page #contact #contact-align-container #contact-form input {
  margin-bottom: 0.5em;
}
#home-page #contact #contact-align-container #contact-form * {
  width: 100%;
}
#home-page #contact #contact-align-container #contact-form button {
  width: 60%;
}

#styleguide-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 10vh;
}

#projects-page {
  padding-top: 15vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#projects-page #project-header {
  margin-bottom: 10vh;
}
#projects-page #project-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  gap: 10vh;
  padding-bottom: 20vh;
}
#projects-page #project-container .project-tile {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
#projects-page #project-container .project-tile .left {
  width: 48%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2vh;
  text-align: center;
}
#projects-page #project-container .project-tile .left .project-image-container {
  width: 100%;
  aspect-ratio: 16/9;
  height: fit-content;
  object-fit: cover;
}
#projects-page #project-container .project-tile .left .project-image-container .project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}
#projects-page #project-container .project-tile .right {
  width: 40%;
}

#edit-project-page {
  padding-top: 12vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#edit-project-page #project-browser {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  background: #0A0A0B;
}
#edit-project-page #project-browser .project-browser-listing {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: 5vh;
  width: 80%;
  transition: background 0.5s ease-in-out;
  padding: 1em;
  border-radius: 1em;
}
#edit-project-page #project-browser .project-browser-listing * {
  transition: color 0.5s ease-in-out;
}
#edit-project-page #project-browser .project-browser-listing:hover {
  background: #4A9FD3;
}
#edit-project-page #project-browser .project-browser-listing:hover * {
  color: #0A0A0B;
}
#edit-project-page #project-browser #project-browser-create {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 5vh;
}
#edit-project-page #project-edit-panel {
  min-height: 82vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
#edit-project-page #edit-content {
  flex: 5;
  height: 82vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 1em;
  padding: 1em;
  background: rgb(7.5714285714, 7.5714285714, 8.3285714286);
  gap: 2vh;
}
#edit-project-page #edit-content textarea {
  width: 100%;
  flex: 1;
  border: 1px solid rgba(247, 244, 243, 0.4);
  transition: border 0.5s ease-in-out;
}
#edit-project-page #edit-sidebar {
  flex: 1;
  display: flex;
  min-height: 82vh;
  gap: 3vh;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1em;
  background: rgb(7.5714285714, 7.5714285714, 8.3285714286);
  padding: 1em;
}
#edit-project-page #edit-sidebar textarea, #edit-project-page #edit-sidebar input {
  border: 1px solid rgba(247, 244, 243, 0.4);
  transition: border 0.5s ease-in-out;
}
#edit-project-page #edit-sidebar .edit-sidebar-element {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5vh;
}
#edit-project-page #edit-sidebar .edit-sidebar-element textarea {
  height: 15vh;
}
#edit-project-page input:focus-visible, #edit-project-page textarea:focus-visible {
  border: 1px solid rgba(247, 244, 243, 0.6) !important;
  outline: none !important;
}

/*# sourceMappingURL=core.css.map */
