@import 'constants';

#edit-project-page {
  padding-top: 12vh;
  display: flex;
  flex-flow: column;
  align-items: center;

  #project-browser {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    background: $secondary;

    .project-browser-listing {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      gap: 5vh;
      width: 80%;
      transition: background 0.5s ease-in-out;
      padding: 1em;
      border-radius: 1em;
      * {
        transition: color 0.5s ease-in-out;
      }
    }
    .project-browser-listing:hover {
      background: $accent;
      * {
        color: $secondary;
      }
    }

    #project-browser-create {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding-top: 5vh;
    }
  }

  #project-edit-panel {
    min-height: 82vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
  #edit-content {
    flex: 5;
    height: 82vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 1em;
    padding: 1em;
    background: darken($secondary, 1%);
    gap: 2vh;
    textarea {
      width: 100%;
      flex: 1;
      border: 1px solid transparentize($primary, 0.6);
      transition: border 0.5s ease-in-out;
    }
  }
  #edit-sidebar {
    flex: 1;
    display: flex;
    min-height: 82vh;
    gap: 3vh;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1em;
    background: darken($secondary, 1%);
    padding: 1em;
    textarea, input {
      border: 1px solid transparentize($primary, 0.6);
      transition: border 0.5s ease-in-out;
    }
    .edit-sidebar-element {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 0.5vh;
      textarea {
        height: 15vh;
      }
    }
  }

  input:focus-visible, textarea:focus-visible {
    border: 1px solid transparentize($primary, 0.4) !important;
    outline: none !important;
  }
}