#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1vh;
  z-index: 999;
  background: transparentize($secondary, 0.4);

  #header-right {
    display: flex;
    gap: 1em;
  }

  .header-link {
    transition: color 0.5s ease-in-out;
    * {
      transition: color 0.5s ease-in-out;
    }
  }
  .header-link:hover {
    color: $accent !important;
    * {
      color: $accent !important;
    }
  }
}