#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1vh;
  z-index: 999;

  #header-right {
    display: flex;
    gap: 1em;
  }
}