#home-page {
  padding-top: 15vh;

  #hero {
    height: 50vh;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
    #hero-details {
      display: flex;
      flex-flow:column;
      align-items: start;
      justify-content: center;
      gap: 1vh;
      #hero-name {
        font-size: 5em;
        @media (width <= 1300px) {
          font-size: 4.5em;
        }
      }
    }
    #hero-headshot {
      aspect-ratio: 1/1;
      max-width: 40vh;
      max-height: 40vh;
      @media (width <= 1275px) {
        max-width: 35vh;
        max-height: 35vh;
      }
      #hero-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30%;
      }
    }
  }


  #about {
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    display: flex;
    flex-flow: row;
    align-items: start;
    min-height: 50vh;
    padding-top: 20vh;
    #about-header {
      flex: 1;
      position: sticky;
      top: 45vh;
    }
    #about-content {
      flex: 2;
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 100%;
      gap: 10vw;
      #about-left, #about-right {
        flex: 1;
        display: flex;
        flex-flow: column;
        align-items: center;
        #about-body-content {
          margin-top: 1em;
          margin-bottom: 1em;
        }
      }
    }
  }


  #projects {
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 50vh;
    padding-top: 20vh;
    #projects-content {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 8vh;
      padding-top: 10vh;
      padding-bottom: 10vh;
      .project-tile {
        width: 45%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1vh;
        .project-image-container {
          width: 100%;
          aspect-ratio: 16/9;
          height: fit-content;
          object-fit: cover;
          .project-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1em;
          }
        }
      }
    }
  }

  #contact {
    width: 70%;
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 50vh;
    padding: 20vh 15% 10vh;
    #contact-align-container {
      width: 100%;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      gap: 5vw;
      padding-top: 10vh;
      #contact-align-left {
        display: flex;
        flex-flow: column;
        flex: 1;
        gap: 3vh;
      }
      #contact-form {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        flex: 1;
        gap: 0.5vh;
        #contact-button {
          margin-top: 1em;
        }
        input {
          margin-bottom: 0.5em;
        }
        * {
          width: 100%;
        }
        button {
          width: 60%;
        }
      }
    }
  }
}