#home-page {
  padding-top: 15vh;

  #hero {
    height: 50vh;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
    #hero-details {
      display: flex;
      flex-flow:column;
      align-items: start;
      justify-content: center;
      gap: 1vh;
      #hero-name {
        font-size: 5em;
        @media (width <= 1300px) {
          font-size: 4.5em;
        }
      }
    }
    #hero-headshot {
      aspect-ratio: 1/1;
      max-width: 40vh;
      max-height: 40vh;
      @media (width <= 1275px) {
        max-width: 35vh;
        max-height: 35vh;
      }
      #hero-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30%;
      }
    }
  }


  #about {
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    display: flex;
    flex-flow: row;
    align-items: start;
    min-height: 50vh;
    #about-header {
      flex: 1;
      position: sticky;
      top: 45vh;
    }
    #about-content {
      flex: 1;
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 100%;
      gap: 10vw;
      #about-left, #about-right {
        flex: 1;
        display: flex;
        flex-flow: column;
        align-items: center;
      }
    }
  }

}