@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #D8DBEE;
}

a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  color: #37FF8B;
}

h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  color: #D8DBEE;
}

strong {
  color: #37FF8B;
}

h2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-size: 2.5em;
  color: #D8DBEE;
}

h3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-size: 2em;
  color: #D8DBEE;
}

h4 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.75em;
  color: #D8DBEE;
}

h5 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 1.5em;
  color: #D8DBEE;
}

h6 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25em;
  color: #D8DBEE;
}

button {
  border: 1px solid #37FF8B !important;
  background: transparent;
  border-radius: 1em;
  padding: 0.5em 1em;
  color: #37FF8B;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transition: background 0.5s, color 0.5s;
}

button:hover, button:focus, button:active {
  background: #37FF8B;
  color: #000010;
}

body {
  background: #000010;
  padding-left: 10vw;
  padding-right: 10vw;
}

::-moz-selection {
  color: #000010;
  background: #D8DBEE;
}

::selection {
  color: #000010;
  background: #D8DBEE;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #37FF8B;
  border-radius: 0.15em;
}

::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

#header-container {
  position: fixed;
  top: 0;
  width: 100%;
}

#footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
#footer-container p {
  text-align: center;
}

#hero-container {
  height: 80vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding-left: 5vh;
  padding-right: 5vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-left: 1px solid #37FF8B;
  border-right: 1px solid #37FF8B;
}
#hero-container #hero-left {
  width: fit-content;
  padding-right: 1em;
}
#hero-container #hero-left .hero-heading {
  font-size: 4em;
  padding-bottom: 0.1em;
  white-space: nowrap;
}
#hero-container #hero-left p {
  width: 100%;
}
#hero-container #hero-right {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: end;
  gap: 5vh;
}
#hero-container #hero-right a {
  width: 60%;
}
@media only screen and (max-width: 1050px) {
  #hero-container #hero-right a {
    width: 80%;
  }
}
@media only screen and (max-width: 995px) {
  #hero-container {
    flex-flow: column;
    gap: 10vh;
  }
  #hero-container #hero-left .hero-heading {
    text-align: center;
    white-space: wrap;
  }
  #hero-container #hero-left p {
    text-align: center;
  }
  #hero-container #hero-right {
    align-items: center;
    flex-grow: unset;
    width: 100%;
    gap: 1vh;
  }
  #hero-container #hero-right a {
    width: 60%;
  }
}
@media only screen and (max-width: 525px) {
  #hero-container .hero-heading {
    font-size: 3.5em;
  }
}

/*# sourceMappingURL=home.css.map */
