@import 'constants';

#home-page {
  padding-top: 15vh;

  #hero {
    height: 50vh;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
    #hero-details {
      display: flex;
      flex-flow:column;
      align-items: start;
      justify-content: center;
      gap: 1vh;
      #hero-name {
        font-size: 5em;
        @media (width <= 1300px) {
          font-size: 4.5em;
        }
      }
      a {
        margin-top: 5vh;
        button {
          cursor: pointer;
          i {
            padding-left: 1em;
          }
        }

      }
    }
    #hero-headshot {
      aspect-ratio: 1/1;
      max-width: 40vh;
      max-height: 40vh;
      @media (width <= 1275px) {
        max-width: 35vh;
        max-height: 35vh;
      }
      #hero-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30%;
      }
    }
    @media (width < 700px) {
      flex-flow: column-reverse;
      height: unset;
      justify-content: center;
      padding-bottom: 10vh;
      #hero-details {
        align-items: center;
        text-align: center;
        #hero-name {
          font-size: 3em;
        }
      }
      #hero-headshot {
        max-width: 60vw;
        max-height: 60vw;
      }
    }
    @media (width < 375px) {
      #hero-details > a > button > i {
        display: none;
      }
    }
  }


  #about {
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    display: flex;
    flex-flow: row;
    align-items: start;
    min-height: 50vh;
    padding-top: 20vh;
    #about-header {
      flex: 1;
      position: sticky;
      top: 45vh;
    }
    #about-content {
      flex: 2;
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 100%;
      gap: 10vw;
      #about-left, #about-right {
        flex: 1;
        display: flex;
        flex-flow: column;
        align-items: center;
        #about-body-content {
          margin-top: 1em;
          margin-bottom: 1em;
        }
        li {
          margin-top: 2em;
          margin-bottom: 2em;
        }
      }
    }

    @media (width < 650px) {
      flex-flow: column;
      padding-top: 10vh;
      #about-header {
        position: unset;
        padding-bottom: 5vh;
        align-self: center;
      }
      .about-section-header {
        align-self: start;
      }
    }
  }


  #projects {
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 50vh;
    padding-top: 20vh;
    #projects-content {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 8vh;
      padding-top: 10vh;
      padding-bottom: 10vh;
      .project-tile {
        width: 45%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1vh;
        .project-image-container {
          width: 100%;
          aspect-ratio: 16/9;
          height: fit-content;
          object-fit: cover;
          .project-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1em;
          }
        }
      }
    }
    @media (width < 650px) {
      padding-top: 10vh;
      #projects-content {
        flex-flow: column;
        .project-tile {
          width: 85%;
          padding: 1em 0.5em;
          border-radius: 1em;
          gap: 0.5em;
          background: transparentize(darken($secondary, 5%), 0.5);
        }
      }
    }
  }

  #contact {
    width: 70%;
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 50vh;
    padding: 20vh 15% 10vh;
    #contact-align-container {
      width: 100%;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      gap: 5vw;
      padding-top: 10vh;
      #contact-align-left {
        display: flex;
        flex-flow: column;
        align-items: center;
        flex: 1;
        gap: 3vh;
      }
      #contact-align-right {
        display: flex;
        flex-flow: column;
        align-items: center;
        flex: 1;
        gap: 3vh;
      }
      div {
        display: flex;
        flex-flow: column;
        gap: 0.5em;
        text-align: center;
        align-items: center;
        a {
          width: fit-content;
        }
      }
      @media (width < 600px) {
        flex-flow: column;
      }
    }
  }
}